header {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.links {
  width: 92%;
  display: flex;
  justify-content: space-around;
  border-right: 3px solid black;
  z-index: 1;
}

.nav-links {
  height: 25px;
  width: 25%;
  position: relative;
  background: none;
  display: inline-block;
  transition: color 0.2s ease-out;
  z-index: 1;
  overflow: hidden;
}

.nav-links:hover {
  color: white;
}

.nav-links::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background: black;
  transition: width 0.2s ease-out;
  z-index: -1;
}

.nav-links:hover::before {
  width: 100%;
}